@mixin forM {
    @media screen and (max-width: 980px) {
        @content;
    }
}

.page_black{
    height: 80vh;
    // width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    >div{
        height: 100%;
        width: 60%;
        background-repeat: no-repeat;
        background-size: contain;
        @include forM(){
            width: 80%;
        }
    }
    &.focusPage {
        padding-top: 3rem;
        @include forM(){
            height: 110vh;
        }
    }
    &.flimPage {
        height: 70vh;
        @include forM(){
            height: 95vh;
        }
    }
    &.musicPage {
        height: 66vh;
        @include forM(){
            height: 90vh;
        }
    }
    &.tune3 {
        height: 46vh;
    }
}

.focus{
    background-image: url(../images/black_page/focus.png);
    @include forM(){
        background-image: url(../images/black_page/focus_M.png);
        width: 95% !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.comic{
    // background-image: url(../images/black_page/comic.png);
    position: relative;
    .block1{
        margin-left: 4.5rem;
        margin-top: 6rem;
        .title{
            color: #fff67f;
            width: 50%;
            font-size: 20px;
            margin-bottom: 0.5rem;
        }
        .content{
            color: white;
            width: 50%;
            font-size: 14px;
        }
    }
    .block2{
        width: 55%;
        display: flex;
        justify-content: end;
        margin-top: 0.3rem;
        .button{
            width: auto;
            color: #09361b;
            background-color: #fff67f;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
        }
    }
    .block3{
        // position: absolute;
        // bottom: 4.5rem;
        width: 100%;
        height: 37%;
        margin-top: 1rem;
        display: flex;
        // right: 1rem;
        .comicImg{
        background-image: url(../images/black_page/comic2.png);
        margin-left: 1.5rem;
        width: 60%;
        height: 98%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        }
        .text{
            width: 40%;
            color: white;
            font-size: 12px;
            margin-top: 9rem;
        }
    }
}

.flim{
    // background-image: url(../images/black_page/flim.png);
    background-color: #ea5550;
    position: relative;
    padding: 2rem 1.5rem 1.5rem;
    box-sizing: border-box;
    @include forM(){
        font-size: 15px;
    }
    .title{
        width: 100%;
        height: 15%;
        background-image: url(../images/black_page/flim_title.png);
        background-size: cover;
        background-repeat: no-repeat;
        @include forM(){
            background-image: url(../images/black_page/flim_title_M.png);
            height: 4%;
            margin-bottom: 1rem;
        }
    }
    .content{
        width: 100%;
        display: flex;
        height: 88%;
        @include forM(){
            flex-direction: column;
        }
        .blockWrap{
            width: 60%;
            padding-left: 1rem;
            @include forM(){
                width: 100%;
                padding: 0;
            }
        }
        .flim_pie{
            width: 40%;
            margin-left: 1rem;
            @include forM(){
                width: 100%;
                margin-top: 1rem;
                margin-left: 0;
            }
            .text{
                font-size: 12px;
                color: #1d2088;
                font-weight: bold;
                text-align: center;
            }
            img{
                width: 100%;
                margin-top: 5rem;
                @include forM(){
                    margin-top: 1rem;
                }
            }
        }
    }
    .block1{
        // margin-left: 4.5rem;
        // margin-top: 9rem;
        .subTitle{
            color: #1d2088;
            font-size: 20px;
            margin-bottom: 0.5rem;
            font-weight: bold;
            @include forM(){
                font-size: 15px;
            }
        }
        .subContent{
            color: white;
            font-size: 14px;
            @include forM(){
                font-size: 13px;
            }
        }
    }
    .block2{
        display: flex;
        justify-content: end;
        margin-top: 0.5rem;
        @include forM(){
            justify-content: start;
        }
        .button{
            width: auto;
            color: #ea5550;
            background-color: #1d2088;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
            @include forM(){
                padding: 0.1rem 1rem;
            }
        }
    }
    .block3{
        width: 100%;
        height: 40%;
        margin-top: 1rem;
        .imgWrap{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .img{
            width: 40%;
            height: 100%;
            background-image: url(../images/black_page/flim_talk.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include forM(){
                width: 35%;
                background-image: url(../images/black_page/flim_talk.png);
            }
        }
        .text{
            width: 60%;
            height: 95%;
            font-size: 13px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include forM(){
                font-size: 12px;
                width: 65%;
                height: 100%;
            }
            .black1{
                height: 4%;
                width: 100%;
                background: black;
            }
            .black2{
                height: 2%;
                width: 100%;
                background: black;
            }
        }
    }
}

.music{
    // background-image: url(../images/black_page/music.png);
    background-color: #ffc000;
    position: relative;
    position: relative;
    padding: 2rem 1.5rem 1.5rem;
    box-sizing: border-box;
    @include forM(){
        font-size: 15px;
    }
    .title{
        width: 100%;
        height: 15%;
        background-image: url(../images/black_page/music_title.png);
        background-size: cover;
        background-repeat: no-repeat;
        @include forM(){
            background-image: url(../images/black_page/music_title_M.png);
            height: 4%;
            margin-bottom: 1rem;
        }
    }
    .content{
        width: 100%;
        display: flex;
        height: 88%;
        @include forM(){
            flex-direction: column;
        }
        .blockWrap{
            width: 60%;
            padding-left: 1rem;
            @include forM(){
                width: 100%;
                padding: 0;
            }
        }
        .music_jay{
            width: 40%;
            margin-left: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include forM(){
                width: 100%;
                margin-top: 1rem;
                margin-left: 0;
            }
            .img{
                background-image: url(../images/black_page/music_jay.png);
                width: 100%;
                height: 60%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .text{
                font-size: 14px;
                color: white;
                margin: 1rem 0.5rem;
                @include forM(){
                    bottom: 15%;
                    width: 85%;
                }
            }
            .black1{
                width: 100%;
                height: 2%;
                background: black;
            }
            .black2{
                width: 100%;
                height: 1%;
                background: black;
            }
        }
    }
    .block1{
        // margin-left: 4.5rem;
        // margin-top: 9rem;
        .subTitle{
            color: #796baf;
            font-size: 20px;
            margin-bottom: 0.5rem;
            font-weight: bold;
            @include forM(){
                font-size: 15px;
            }
        }
        .subContent{
            color: white;
            font-size: 14px;
            @include forM(){
                font-size: 13px;
            }
        }
    }
    .block2{
        display: flex;
        justify-content: end;
        margin-top: 0.5rem;
        @include forM(){
            justify-content: start;
        }
        .button{
            width: auto;
            color: #ffc000;
            background-color: #796baf;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
            @include forM(){
                padding: 0.1rem 1rem;
            }
        }
    }
    .block3{
        width: 60%;
        height: 35%;
        position: absolute;
        left: 0;
        bottom: 0;
        @include forM(){
            margin-top: 0rem;
        }
        .img{
            width: 100%;
            height: 100%;
            background-image: url(../images/black_page/music_man.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include forM(){
                display: none;
            }
            .text{
                width: 70%;
                font-size: 13px;
                color: white;
                padding-left: 28%;
                padding-top: 10%;
                @include forM(){
                    padding-left: 38%;
                    padding-top: 4%;
                    width: 65%;
                    font-size: 11px;
                    margin-top: 2rem;
                }
            }
        }
    }
}

.game{
    background-image: url(../images/black_page/game.png);
    position: relative;
    .block1{
        margin-left: 4.5rem;
        margin-top: 8.5rem;
        // .title{
        //     color: #fff67f;
        //     width: 50%;
        //     font-size: 20px;
        //     margin-bottom: 0.5rem;
        // }
        .content{
            color: white;
            width: 50%;
            font-size: 12px;
        }
    }
    .block2{
        width: 55%;
        display: flex;
        justify-content: end;
        margin-top: 0.3rem;
        .button{
            width: auto;
            color: #3a499d;
            background-color: #c3d956;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
        }
    }
}