/**start**/

.filmSection3{
    background-image: url(../images/section3/filmSection3.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    .blockWrap{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .block1{
        width: 85%;
        display: flex;
        height: 86%;
        flex-direction: column;
        justify-content: end;
        .contentWrap{
            margin-left: 49%;
        }
        .title{
            font-size: 20px;
            font-weight: bold;
        }
        .content{
            font-size: 15px;
            font-weight: bold;
        }
        .button{
            color: white;
            background-color: black;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
            text-align: center;
        }
        .block2{
            display: flex;
            justify-content: end;
            margin-top: 1rem;
        }
    }
}

.crossSection3Mask{
    .crossSection3{
        background-image: url(../images/section3/crossSection3.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 3rem;
        height: 65%;
        // margin-bottom: 1.5rem;
        .blockWrap{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .block1{
            margin-top: 2rem;
            width: 100%;
            .title{
                font-size: 20px;
                font-weight: bold;
            }
            .content{
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    .specialBlock{
        position: absolute;
        bottom: 2rem;
        width: 85%;
        font-size: 15px;
        font-weight: bold;
        color: #8dc55d;
    }
    .block2{
        position: absolute;
        right: 0;
        bottom: 0;
        .button{
            color: white;
            background-color: black;
            border-radius: 1px;
            padding: 0.05rem 3rem;
            font-family: sans-serif;
            font-weight: bold;
            text-align: center;
        }
    }
}
